In [1]:
import pandas as pd
import matplotlib.pyplot as plt
print('-'*10 + "Welcome to Data Vault" + '-'*10)
print("\nThis is the original data")
df=pd.read_csv("Data_Vault_Final1.csv")
df

----------Welcome to Data Vault----------

This is the original data

     products            type  price  quantity
0       Chips            Lays   10.5        15
1       Chips         Doritos   11.5        15
2       Chips        Nik Naks    9.5        20
3   Coldrinks            Coke   13.5        60
4   Coldrinks          Sprite   13.5        60
5   Coldrinks          Stoney   13.5        60
6         pie  Steak & pepper   18.5        20
7         pie    Chicken mayo   20.0        20
8         pie   spinach& feta   22.0        20
9      fruits          banana   15.0        25
10     fruits          apples   16.5        35
11     fruits           pears   16.0        30
12    veggies         spinach   10.0        15
13    veggies         beetrot   12.0        15
14    veggies         cabbage    8.0        15

In [17]:
 import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
db_cursor = db_connection.cursor()
#products_sql_query = "INSERT INTO data_vault_final1(products,type,price,quantity)VALUES('Bakery', 'bread', 15, 40)"
#employee_sql_query = " INSERT INTO employee (id, name, salary) VALUES (01, 'John', 10000)"
#Execute cursor and pass query 
db_cursor.execute("INSERT INTO data_vault_final1(products,type,price,quantity)VALUES('Bakery', 'bread', 15, 40)")
#Execute cursor and pass query of employee and data of employee
#db_cursor.execute(employee_sql_query)
db_connection.commit()
print(db_cursor.rowcount, "Record Inserted")

1 Record Inserted

In [28]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE data_vault_final1 ADD barcode VARCHAR(50) NOT NULL AFTER quantity;")

#mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [29]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
mycursor = mydb.cursor()
# This script adds another column in the table
mycursor.execute("ALTER TABLE data_vault_final1 ADD expiry_date VARCHAR(50) NOT NULL AFTER barcode;")

In [ ]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
mycursor = mydb.cursor()
# This script adds another column in the table
mycursor.execute("ALTER TABLE data_vault_final1 ADD expiry_date VARCHAR(50) NOT NULL AFTER barcode;")

In [30]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
mycursor = mydb.cursor()
# This script adds another column in the table
mycursor.execute("ALTER TABLE data_vault_final1 ADD purchased VARCHAR(50) NOT NULL AFTER barcode;")

In [ ]:
 import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
db_cursor = db_connection.cursor()
db_cursor.execute("INSERT INTO data_vault_final1(products,barcode)VALUES('Bakery', 'bread', 15, 40)")
db_connection.commit()
print(db_cursor.rowcount, "Record Inserted")

In [2]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode = '10002020' WHERE type = 'Lays'" # this script updates the barcode in the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [3]:
mydb.commit()

In [4]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET purchased = '2', expiry_date='18/02/2022' WHERE type = 'Lays'" # this script updates the barcode in the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [5]:
mydb.commit()

In [6]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='100023352', purchased = '5', expiry_date='18/02/2022' WHERE type = 'Doritos'" # this script updates the barcode in the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [7]:
mydb.commit()

In [8]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='10002335', purchased = '6', expiry_date='18/02/2023' WHERE type = 'Nik naks'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [9]:
mydb.commit()

In [10]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002335', purchased = '20', expiry_date='18/02/2021' WHERE type = 'coke'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [11]:
mydb.commit()

In [12]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002336', purchased = '21', expiry_date='18/03/2021' WHERE type = 'sprite'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [13]:
mydb.commit()

In [14]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002337', purchased = '18', expiry_date='19/03/2021' WHERE type = 'stoney'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [15]:
mydb.commit()

In [16]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002411', purchased = '15', expiry_date='19/02/2021' WHERE type = 'steak & pepper'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [17]:
mydb.commit()

In [18]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002338', purchased = '20', expiry_date='19/03/2021' WHERE type = 'chicken mayo'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [19]:
mydb.commit()

In [22]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002338', purchased = '11', expiry_date='20/03/2021' WHERE type = 'spinach& feta'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [23]:
mydb.commit()

In [24]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002433', purchased = '18', expiry_date='19/03/2020' WHERE type = 'banana'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [25]:
mydb.commit()

In [26]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002338', purchased = '11', expiry_date='19/03/2021' WHERE type = 'apples'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [27]:
mydb.commit()

In [28]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002338', purchased = '12', expiry_date='19/03/2021' WHERE type = 'pears'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [29]:
mydb.commit()

In [31]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002446', purchased = '12', expiry_date='28/02/2020' WHERE type = 'spinach'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [32]:
mydb.commit()

In [33]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002447', purchased = '10', expiry_date='19/03/2020' WHERE type = 'beetrot'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [34]:
mydb.commit()

In [35]:
import mysql.connector
import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002448', purchased = '9', expiry_date='18/03/2020' WHERE type = 'cabbage'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [36]:
mydb.commit()

In [13]:
import mysql.connector
#import MySQLdb as sql

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
)

#mycursor = mydb.cursor()
mycursor = mydb.cursor()
sql = "UPDATE data_vault_final1 SET barcode='20002337', purchased = '18', expiry_date='25/02/2020' WHERE type = 'bread'" # this script updates the database
mycursor.execute(sql)
print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [19]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
db_cursor = db_connection.cursor()
#products_sql_query = "INSERT INTO data_vault_final1(products,type,price,quantity)VALUES('Bakery', 'bread', 15, 40)"
#employee_sql_query = " INSERT INTO employee (id, name, salary) VALUES (01, 'John', 10000)"
#Execute cursor and pass query 
db_cursor.execute("INSERT INTO data_vault_final1(products,type,price,quantity,barcode,purchased,Expiry_date)VALUES('Bathroom', 'Jik', 15, 40,5223600,25,'22/01/2021')")
#Execute cursor and pass query of employee and data of employee
#db_cursor.execute(employee_sql_query)
db_connection.commit()
print(db_cursor.rowcount, "Record Inserted")

1 Record Inserted

In [21]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
db_cursor = db_connection.cursor()
#products_sql_query = "INSERT INTO data_vault_final1(products,type,price,quantity)VALUES('Bakery', 'bread', 15, 40)"
#employee_sql_query = " INSERT INTO employee (id, name, salary) VALUES (01, 'John', 10000)"
#Execute cursor and pass query 
db_cursor.execute("INSERT INTO data_vault_final1(products,type,price,quantity,barcode,purchased,Expiry_date)VALUES('Bakery', 'hotdogs', 40, 75,522361147,30,'22/01/2022')")
#Execute cursor and pass query of employee and data of employee
#db_cursor.execute(employee_sql_query)
db_connection.commit()
print(db_cursor.rowcount, "Record Inserted")

1 Record Inserted

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Easy2020!",
  database="mydatabase"
  )
print('-'*10 + "Welcome to Data Vault" + '-'*10)
#print("\nThis is the original data")
#df=pd.read_csv("Data_Vault_Final1.csv")

chips=pd.read_sql_query("select * from mydatabase.data_vault_final1 where products='chips'",mydb)
chips

----------Welcome to Data Vault----------

  products      type  price  quantity    barcode purchased expiry_date
0    Chips      Lays   10.5        15   10002020         2  18/02/2022
1    Chips   Doritos   11.5        15  100023352         5  18/02/2022
2    Chips  Nik Naks    9.5        20   10002335         6  18/02/2023

In [28]:

coldrinks=pd.read_sql_query("select * from mydatabase.data_vault_final1 where products='coldrinks'",mydb)
coldrinks

    products    type  price  quantity   barcode purchased expiry_date
0  Coldrinks    Coke   13.5        60  20002335        20  18/02/2021
1  Coldrinks  Sprite   13.5        60  20002336        21  18/03/2021
2  Coldrinks  Stoney   13.5        60  20002337        18  19/03/2021

In [29]:

Bakery=pd.read_sql_query("select * from mydatabase.data_vault_final1 where products='Bakery'",mydb)
Bakery

  products     type  price  quantity    barcode purchased expiry_date
0   Bakery    bread   15.0        40   20002337        18  25/02/2020
1   Bakery  hotdogs   40.0        75  522361147        30  22/01/2022

In [30]:

fruits=pd.read_sql_query("select * from mydatabase.data_vault_final1 where products='fruits'",mydb)
fruits

  products    type  price  quantity   barcode purchased expiry_date
0   fruits  banana   15.0        25  20002433        18  19/03/2020
1   fruits  apples   16.5        35  20002338        11  19/03/2021
2   fruits   pears   16.0        30  20002338        12  19/03/2021

In [31]:

veggies=pd.read_sql_query("select * from mydatabase.data_vault_final1 where products='veggies'",mydb)
veggies

  products     type  price  quantity   barcode purchased expiry_date
0  veggies  spinach   10.0        15  20002446        12  28/02/2020
1  veggies  beetrot   12.0        15  20002447        10  19/03/2020
2  veggies  cabbage    8.0        15  20002448         9  18/03/2020

In [32]:

pie=pd.read_sql_query("select * from mydatabase.data_vault_final1 where products='pie'",mydb)
pie

  products            type  price  quantity   barcode purchased expiry_date
0      pie  Steak & pepper   18.5        20  20002411        15  19/02/2021
1      pie    Chicken mayo   20.0        20  20002338        20  19/03/2021
2      pie   spinach& feta   22.0        20  20002338        11  20/03/2021

In [33]:
bathroom=pd.read_sql_query("select * from mydatabase.data_vault_final1 where products='bathroom'",mydb)
bathroom

   products type  price  quantity  barcode purchased expiry_date
0  Bathroom  Jik   15.0        40  5223600        25  22/01/2021